<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>twimport</title>
    <base href="/"></base>
  </head>
  <body>
    <section>

      <div id="fb-root"></div>

      <div
        class="fb-login-button"
        data-max-rows="1"
        data-size="small"
        data-button-type="continue_with"
        data-show-faces="false"
        data-auto-logout-link="true"
        data-use-continue-as="true">
      </div>
    </section>

    <section ng-app='twimport' ng-controller="MainController" style="margin:6px 0px;padding:6px;background-color: lightgrey;border-left: 6px solid darkgrey;">

      <section>
        <ng-view></ng-view>
      </section>

      <section>
        <h5> <span ng-if="!user">...loading </span> <span ng-if="user">loaded : <span ng-bind="user.authResponse.userID"></span></span></h5>
      </section>

    </section>

  </body>
</html>
