ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  margin-top: 3px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.selectedNavLink {color: green;}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: grey;
}

.default-space {
  margin: 12px;
  padding: 3px;
  min-height: 120px;
}

.pad-top-3 {
  padding-top: 3px
}
