<h3>import a twitter handle for followers crawling</h3>
<a ng-href="progress">progress</a>
<hr/>
<form class="" ng-submit="vm.submitHandle(vm.twitterHandle)" ng-init="vm.twitterHandle.uid=$resolve.uid.authResponse.userID">
  <input type="text" name="" ng-model="vm.twitterHandle.screenName">
  <button type="submit" name="button">import this</button>
</form>
